@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap");


:root {
    --color-primary: #ff014f;
    --color-secondary: #f4f5f6;
    --color-tertiary: #0d1013;
    --color-gray: #f6f6f6;
    --color-subtitle: #f9004d;
    --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
    --background-color-2: #212428;
    --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
    --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
        -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
    --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
    --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);
    --color-heading: #ffffff;
    --color-heading-wv: #1e2125;
    --color-body: #878e99;
    --color-body-white: #3c3e41;
    --color-lightn: #c4cfde;
    --color-midgray: #878787;
    --color-light: #e4e6ea;
    --color-lighter: #ced0d4;
    --color-lightest: #f0f2f5;
    --color-border: #e6e6e6;
    --color-white: #ffffff;
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-success: #3eb75e;
    --color-danger: #ff0003;
    --color-warning: #ff8f3c;
    --color-info: #1ba2db;
    --color-facebook: #3b5997;
    --color-twitter: #1ba1f2;
    --color-youtube: #ed4141;
    --color-linkedin: #0077b5;
    --color-pinterest: #e60022;
    --color-instagram: #c231a1;
    --color-vimeo: #00adef;
    --color-twitch: #6441a3;
    --color-discord: #7289da;
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --p-black: 900;
    --s-light: 300;
    --s-regular: 400;
    --s-medium: 500;
    --s-semi-bold: 600;
    --s-bold: 700;
    --s-extra-bold: 800;
    --s-black: 900;
    --transition: 0.4s;
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
    --font-size-b1: 18px;
    --font-size-b2: 22px;
    --font-size-b3: 14px;
    --line-height-b1: 1.5;
    --line-height-b2: 1.6;
    --line-height-b3: 1.7;
    --h1: 70px;
    --h2: 60px;
    --h3: 50px;
    --h4: 40px;
    --h5: 30px;
    --h6: 20px;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-primary);
    color: var(--color-body);
    font-weight: var(--p-regular);
}


.article-subheading{
    color: #000;
    font-weight: 500;
    width: 45%;
    margin: auto;
    margin-top: 25px;
}
.detail-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-bottom: 150px;
}
.detail-card{
    
}
.detail-card:hover .card-image-block{
    transform: scale(1.05);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
}
.title-txt{
    font-size: 45px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.card-image-block{
    text-align: center;
    transition: all 0.1s ease;
}
.card-title{
    margin: 0;
    margin-top: 25px;
    font-size: 35px;
    font-family: var(--font-secondary);
    font-weight: 500;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.card-description{
    font-size: 20px;
    font-family: var(--font-secondary);
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

/* ------------------ Podcast CSS ------------------  */

.Podcast-Button-Block{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
.scaledBtn{
    transform: scale(1.5);
}
.PodcastImageFix{
    width: 100%;
    height: 320px !important;
    object-fit: cover;
}