@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);
  --color-white: #ffffff;
  --color-primary: #ff014f;
  --transition: 0.4s;
}
a {
  font-family: var(--font-primary);
}
.first-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #30d5c8;
}
.second-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ff2400;
}
.third-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #0067f4;
}
.fourth-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #8b0000;
}
.fifth-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ff9b21;
}
.sixth-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #00b8d8;
}
.seventh-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #a32eff;
}
.eight-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #7d7098;
}
.ninth-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #17c671;
}
.main-title {
  font-size: 50px;
  font-family: var(--font-primary);
  color: white;
}
.subheading {
  font-size: 20px;
  font-family: var(--font-secondary);
  text-align: center;
  color: rgb(114, 114, 114);
}
.subheading a {
  text-emphasis: none;
  text-decoration: none;
  color: rgb(114, 114, 114);
}
.gifImage {
  width: 300px;
  /* height: 300px; */
  overflow: hidden;
  object-fit: contain;
  margin-top: 30px;
  margin-bottom: 15px;
}
.learnMoreBtn {
  font-size: 15px;
  text-align: center;
  padding: 10px 20px;
  display: block;
  margin: 10px auto;
}
.clrWhite {
  color: white !important;
}
.w-60 {
  width: 60%;
  margin: auto;
}
.rn-btn {
  padding: 20px 40px;
  list-style: none;
  text-decoration: none;
  color: var(--color-primary);
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}
.button-area .rn-btn {
  background: var(--gradient-box-w);
  /* box-shadow: var(--shadow-white-3); */
}
.button-area .rn-btn::before {
  background: var(--gradient-red-hover);
}
.button-area .rn-btn:hover {
  color: var(--color-white);
  background: var(--gradient-red-hover);
  transition: var(--transition);
  text-decoration: none;
}
.button-area .rn-btn::before {
  background: var(--gradient-red-hover);
}
.with-particles {
  position: relative;
}
.button-area {
  z-index: 15;
}
#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.homeLogo {
  width: 60px;
  height: 100%;
  object-fit: cover;
  zoom: 110%;
}
.pos-rel {
  position: relative;
}
.customNav {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.customFoot {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 5;
}
.h-8 {
  height: 8vh;
}
.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-top: 8px;
}
.footer-icon-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright-txt {
  font-size: 15px;
  margin: 0 !important;
}
.zindex-5 {
  z-index: 10 !important;
}
.slider-style-5 {
  margin: auto;
  max-width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
}
.nav-link-txt {
  color: white;
}
.mt--35 {
  margin-top: 50px;
}
